.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 0.25rem;
    margin: 1vh 0 1.875rem 0;
    box-shadow: 0 10px 40px 0 rgba(62, 57, 107, 0.07), 0 2px 9px 0 rgba(62, 57, 107, 0.06);
}

.card-info {
    flex: 1 1 auto;
    padding: 0.9rem 1.5rem;
    transition: linear 0.5s;
    opacity: 0.8;
    /* cursor: pointer; */
    transition: linear 0.5s;
}

.card-info:hover {
    opacity: 1;
}

img {
    border-radius: 50%;
}

.image-container {
    margin-right: 2vh;
}

.smaller-size {
    font-size: 0.8rem;
}